// .root {

// }

.wrapper {
  padding: 120px;

  @include respond(laptopL) {
    padding: 48px;
  }

  @include respond(tabletSM) {
    padding: 48px 24px;
  }
}

.list {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  gap: 32px;

  @include respond(tabletSM) {
    gap: 24px;
  }
}