.root {
  background:
    url('/images/gustavo.png') no-repeat bottom left,
    url('/images/bg_main.png') no-repeat bottom right;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include Inter_75_900;
  text-align: center;
  max-width: 1030px;
  color: var(--white);
  margin-bottom: 22px;

  span {
    color: var(--light-blue);
  }
}

.description {
  @include Inter_44_400;
  color: var(--white);
  margin-bottom: 134px;
}

.timer {
  @include Inter_75_900;
  color: var(--white);
  margin-bottom: 146px;
}

.btn {
  padding: 24px;
  width: 100%;
  max-width: 1036px;
  background-color: var(--light-blue);
  border-radius: 40px;
  margin-bottom: 118px;
  position: relative;
  @include Inter_32_400;
  color: var(--black);
  max-height: 84px;
  cursor: pointer;
  box-shadow: 0 0 24px var(--light-blue);

  &:focus {
    background-color: var(--light-blue);
  }

  .arrow {
    position: absolute;
    right: 0;
    top: 0;
  }
}
