.root {
  background:
    url('/images/gustavo.png') no-repeat bottom left,
    url('/images/bg_main.png') no-repeat bottom right;

  @include respond(laptopL) {
    background-size:
      440px 660px,
      auto;
  }

  @include respond(tablet) {
    background-size:
      390px 580px,
      cover;
  }

  @include respond(mobileL) {
    background-size:
      290px 440px,
      cover;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include AAStetica_75_900;
  text-align: center;
  max-width: 1030px;
  color: var(--white);
  margin-bottom: 22px;

  @include respond(laptopL) {
    font-size: 44px;
    max-width: 800px;
  }

  @include respond(tabletL) {
    max-width: 600px;
  }

  @include respond(tabletSM) {
    font-size: 28px;
    max-width: 400px;
  }

  @include respond(mobileL) {
    font-size: 21px;
    max-width: 360px;
  }

  @include respond(mobileSM) {
    font-size: 21px;
    max-width: 310px;
  }

  span {
    color: var(--light-blue);
  }
}

.description {
  @include AAStetica_44_400;
  color: var(--white);
  margin-bottom: 134px;
  text-align: center;

  @include respond(laptopL) {
    font-size: 28px;
    margin-bottom: 40px;
  }

  @include respond(tabletL) {
    font-size: 24px;
  }

  @include respond(tabletSM) {
    font-size: 18px;
  }

  @include respond(mobileL) {
    font-size: 14px;
    margin-bottom: 24px;
  }

  @include respond(mobileSM) {
    padding: 0px 16px;
  }
}

.timer {
  @include AAStetica_75_900;
  color: var(--white);
  margin-bottom: 146px;

  @include respond(laptopL) {
    font-size: 44px;
    margin-bottom: 206px;
  }

  @include respond(tabletSM) {
    font-size: 24px;
    margin-bottom: 266px;
  }
}

.btn {
  padding: 24px;
  width: 100%;
  max-width: 1036px;
  background-color: var(--light-blue);
  border-radius: 40px;
  margin-bottom: 118px;
  position: relative;
  @include AAStetica_32_400;
  color: var(--black);
  max-height: 84px;
  cursor: pointer;
  @include transition;

  &:hover {
    box-shadow: 0 0 24px var(--light-blue);
  }

  @include respond(laptopL) {
    max-width: 636px;
  }

  @include respond(tabletL) {
    font-size: 24px;
    max-width: 476px;
  }

  @include respond(tabletSM) {
    font-size: 22px;
    max-width: 336px;
    padding: 14px;
    margin-bottom: 48px;
  }

  @include respond(mobileL) {
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 276px;
  }

  &:focus {
    background-color: var(--light-blue);
  }

  .arrow {
    position: absolute;
    right: 0;
    top: 0;

    @include respond(tabletL) {
      height: 75.59px;
      width: 75.59px;
    }

    @include respond(tabletSM) {
      height: 53.3px;
      width: 53.3px;
    }

    @include respond(mobileL) {
      height: 46.41px;
      width: 46.41px;
    }
  }
}
