.root {
  background: url('/images/bg_footer.svg') no-repeat top center;
}

.wrapper {
  padding: 386px 155px 380px;
}

.title { 
  @include AAStetica_86_900;
  color: var(--white);
  margin-bottom: 70px;
}

.link {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 1036px;
  background: var(--black);
  border-radius: 40px;
  padding: 24px;
  margin: 0 auto;
  color: var(--light-blue);
}

.logo {
  display: flex;
  padding: 0px 24px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 76px;
}

.text {
  padding: 24px 174px;
  border-bottom: 1px solid var(--light-blue);
  @include AAStetica_32_400;
  color: var(--light-blue);
  margin-bottom: 24px;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    @include transition;

    &:hover {
      opacity: 0.5;
    }
  }
}
